

/* can probably delete these */
#wodAdd {
    display: none;
}


/* TODO need to set ServerURL:Port as SCSS variables
  initialized with env system props*/

/* Common Styles */
body {
  background-color: #005176;
  width: 400px;
}
p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}
.small-text {
  display: block;
  color: rgba(241, 235, 247, .4);
}
.highlight-text {
  color: #f3b54b;
  font-size: 20px;
  line-height: 28px;
  text-shadow: none;
}


/* Targeted Styles */
@media (max-width: 360px) {
  body {
    width: 352px; /*chrome's user-agent applys a 8px margin*/

  }
  .banner {
    position: absolute;
  }
  .logo-large {
    height: 124px;
    z-index: -1;
  }
  .startpage .tagline {
    position: absolute;
    top: calc(352px/1.3);
    left: 25%;
  }
  .login {
    position: absolute;
    bottom: 4%;
  }
  .login img {
    height: 89px;
    display: block;
    margin: 30px auto 0px auto;
  }
  input[type=email] {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid #abd6e7;
    background-color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding: 5px;
    color: #abd6e7;
    width: 95%;
  }
  ::-webkit-input-placeholder {
     text-align: center;
  }

  .banner-flag {
    position: absolute;
    width: 95%;
    top: calc(352px/2.8);
    height: 20%;
    background-image: url(http://192.168.0.103:8080/images/spottr_banner.png), url(http://192.168.0.103:8080/images/footer_bg_slice.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, scroll;
  }
}
