div.workouts {
  border: 1px ridge rgba(239,189,95, 0.3);
  padding: 2px;
  margin-right: 7px;

  article {
    padding-bottom: 5px;
  }

  .header {
    background-color: orangered;

    span {
      float: right;
      font-size: small;
    }
  }
  .description {
    height: 100px;
    background-color: greenyellow;
    padding: 3px 2px 0 3px;
  }
  .carousel {
    height: 332px;
    background-color: blueviolet;
  }
  .footer {
    background-color:red;
    height: 60px;
    bottom: 0;
    position: relative;
  }
}
